

<!-- ng template matTabContent-->

<mat-grid-list cols="3" rowHeight="90vh" gutterSize="25px">
    <mat-grid-tile>
        <mat-grid-tile-header><span>Input</span></mat-grid-tile-header>
        <app-mice-input></app-mice-input>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-grid-tile-header><span>Table</span></mat-grid-tile-header>
        <app-table></app-table>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-grid-tile-header><span>Profits</span></mat-grid-tile-header>
        <app-profits></app-profits>
    </mat-grid-tile>
</mat-grid-list>